body {
    background-color:#363636;
    font-family: 'Barlow';
}
a {
    text-decoration: none;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


nav.NavBar {
    background-color: whitesmoke;
    width: 105%;
    height: 5%;
    margin: -10px 0 0 -10px; /*top left bottom right*/
    font-family: 'Barlow';
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.navhome {
    left: 2%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navevents {
    left: 8%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navhevents {
    left: 14%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navstore {
    left: 20%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navlogout {
    left: 70%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}


div.MainBanner {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div.LastCallHeading{
    color: whitesmoke;
    font-size: 60px;
    margin: 5% 0 -15% 0;    /*top left bottom right*/
}

div label{
    text-align: center;
    align-items: center;

}
div.form_container{
    background-color: whitesmoke;
    border-radius: 50px;
    margin-top: 50px;
    width: 600px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div.city_and_state {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    
}

div.Event_Name_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 50px;
    height: 40px;
    width: 500px;
}
div.date_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 50px;
    height: 40px;
    width: 500px;
}
div.time_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 50px;
    height: 40px;
    width: 500px;
}
div.address_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 50px;
    height: 40px;
    width: 500px;
}

div.zip_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 50px;
    height: 40px;
    width: 500px;
}
div.description_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 20px;
    height: 100px;
    width: 500px;
}
input:focus {outline: none;}
div.city_and_state > div.city_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 40px;
    height: 40px;
    width: 110px;
}
div.city_and_state > div.state_field {
    margin-left: 10px;

}
div.city_and_state > div.state_field input[type=text] {
    margin-bottom: 20px;
    border-radius: 40px;
    height: 40px;
    width: 100px;
}

div.privacy_checkbox input[type=checkbox] {
    margin-left: 20px;

}



div.LogInButton a{
    color: black;
}
button{
    background-color: #252525;
    border: none;
    border-radius: 50px 50px 50px 50px;
    width: 250px;
    color: whitesmoke;
    padding: 16px 32px;
    margin-left: 20px;
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
    transition: 0s;
    display: inline-block;
    text-decoration: none;
    margin: 10 0 0 0;
    cursor: pointer;
}
button:hover {opacity: 1}


@media all and (max-width: 800px) {

    div.submit_button button{
        width:200px;
        font-size:14px
    }
    div.form_container{
        width: 350px;
        height: 300px;
    }
    div input[type=text] {
        height: 40px;
        width: 200px;
    }
    div input[type=password] {
        height: 40px;
        width: 200px;
    }

}

@media all and (max-width: 600px) {
   
    div.submit_button button{
        width:200px;
        font-size:12px;
        padding: 12px 20px;
    }
    div.form_container{
        width: 300px;
        height: 320px;
    }
    div input[type=text] {
        height: 40px;
        width: 200px;
    }
    div input[type=password] {
        height: 40px;
        width: 200px;
    }

}

@media all and (max-width: 400px) {

    div.submit_button button{
        width:100px;
        font-size:10px;
        padding: 10px 20px;
    }
    div.form_container{
        width: 250px;
        height: 250px;
    }
    div input[type=text] {
        height: 40px;
        width: 160px;
    }
    div input[type=password] {
        height: 40px;
        width: 160px;
    }
}
