body {
    background-color:#363636;
    width: 100%;
    font-family: 'Barlow';
}

nav.NavBar {
    background-color: whitesmoke;
    width: 105%;
    height: 5%;
    margin: -10px 0 0 -10px; /*top left bottom right*/
    font-family: 'Barlow';
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.navhome {
    left: 2%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navevents {
    left: 8%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navhevents {
    left: 14%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navstore {
    left: 20%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navlogout {
    left: 70%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}

a {
    text-decoration: none;
}

div.MainBanner {
    background-color: #363636;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.Welcome_Message h1{
    color: whitesmoke;
    font-size: 30px;
}


div.collumns {
    background-color: #363636;
    margin: 0 0 0 30px ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;


}

div.InviteList{
    width: 33%;
}
div.EventInfo{
    width: 33%;
}
div.CreateAnEvent{
    width: 33%;
    margin-left: 150px;
}

div.InviteList table {
    color: whitesmoke;
    font-size: 20px;
    /* table-layout : fixed; */
}
div.InviteList th {
    text-align: left;
}
div.EventInfo h1{ 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}

div.CreateAnEvent{
    color: whitesmoke;
    font-size: 50px;
    margin-top: 60px;
}
div.CreateAnEvent button{
    background-color: white;
    border: none;
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    height: 400px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}
div.CreateAnEvent a {
    color: black;
    line-height: 50px;
    text-decoration: none;
}
div.EventInfo{
    width: 33%;
    color: whitesmoke;
   
}
div.EventInfo h1{ 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}

div.EventDate h1{ 
    color: whitesmoke;
    height: auto;
    font-size: 20px;
    text-align: left;
}
div.EventTitle h1{ 
    color: whitesmoke;
    height: auto;
    font-size: 60px;
    margin: 0 -125px 0 0; /*top bottom left right */
    text-align: left;
}
div.EventHost h1{ 
    color: whitesmoke;
    height: auto;
    font-size: 30px;
    text-align: left;
}
div.EventDesc h1{
    color: whitesmoke;
    height: 200px;
    font-size: 20px;
    text-align: left;
}
div.EventLocation h1{
    color: whitesmoke;
    height: 50px;
    font-size: 25px;
    text-align: left;
}

@media all and (max-width: 800px) {
    div.LastCallHeading {
        font-size: 60px;
        margin: -100px 0 0 0;    /*top left bottom right*/
    }
    

}

@media all and (max-width: 600px) {
    div.LastCallHeading {
        font-size: 40px;
        margin: -150px 0 0 0;    /*top left bottom right*/
    }
    

}

@media all and (max-width: 400px) {
    div.LastCallHeading {
        font-size: 20px;
        margin: -50px 0 0 0;    /*top left bottom right*/
    }
   
}
