body {
    background-color:#363636;
    font-family: 'Barlow';
}
nav.NavBar {
    background-color: whitesmoke;
    width: 105%;
    height: 5%;
    margin: -10px 0 0 -10px; /*top left bottom right*/
    font-family: 'Barlow';
    display: flex;
    flex-direction: row;
    align-items: center;
}
.table a{
    text-decoration:none;
}
a.navhome {
    left: 2%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navevents {
    left: 8%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navhevents {
    left: 14%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navstore {
    left: 20%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navlogout {
    left: 70%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


div.MainWrapper {
    background-color: #363636;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.collumns {
    background-color: #363636;
    margin: 0 0 0 30px ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;


}

div.EventList{
    width: 50%;
   
}
div.EventList h1{ 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}

div.EventInfo{
    width: 80%;
    color: whitesmoke;
    margin: 0 0 0 150px; /*top bottom left right */
   
}
div.EventInfo h1{ 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}

div.EventDate h1{ 
    color: whitesmoke;
    height: auto;
    font-size: 20px;
    text-align: left;
}
div.EventTitle h1{ 
    color: whitesmoke;
    height: auto;
    font-size: 60px;
    margin: 0 -125px 0 0; /*top bottom left right */
    text-align: left;
}
div.EventHost h1{ 
    color: whitesmoke;
    height: auto;
    font-size: 30px;
    text-align: left;
}
div.EventDesc h1{
    color: whitesmoke;
    height: 200px;
    font-size: 20px;
    text-align: left;
}
div.EventLocation h1{
    color: whitesmoke;
    height: 50px;
    font-size: 25px;
    text-align: left;
}

::-webkit-scrollbar {
    background: transparent; /* make scrollbar transparent */
}
div.EventList table {
    overflow-y:auto;
    height:75%;

    display:block;
    color: whitesmoke;
    font-size: 20px;
}
div.EventList th, td {
    text-align: left;
    border-width:8px;
    border-color:#363636;
    border-style: solid;
}
div.EventList h1{ 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}
div.EventList p {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}


button.button:hover {opacity: 1}

@media all and (max-width: 800px) {
    div.LastCallHeading {
        font-size: 70px;
        margin: -100px 0 0 0;    /*top left bottom right*/
    }
    div.LastCallSubHeading {
        font-size:20px;
        margin: -100px 0 0 0;    /*top left bottom right*/
    }

}

@media all and (max-width: 600px) {
    div.LastCallHeading {
        font-size: 50px;
        margin: -150px 0 0 0;    /*top left bottom right*/
    }
    div.LastCallSubHeading {
        font-size:18px;
        margin: -75px 0 0 0;    /*top left bottom right*/
    }

}

@media all and (max-width: 400px) {
    div.LastCallHeading {
        font-size: 30px;
        margin: -50px 0 0 0;    /*top left bottom right*/
    }
    div.LastCallSubHeading {
        font-size:12px;
        margin: -50px 0 0 0;    /*top left bottom right*/
    }
    
}
