body {
    background-color:#363636;
    font-family: 'Barlow';
}
a {
    text-decoration: none;
}

div.MainBanner {
    background-color: #363636;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div.LastCallHeading{
    color: whitesmoke;
    font-size: 90px;
    margin: -150px 0 0 0;    /*top left bottom right*/
}

div.LastCallSubHeading{
    font-size: 30px;
    margin: -150px 0 0 0;    /*top left bottom right*/
    color: whitesmoke;
}

div.LogInButton a{
    color: black;
}
div.LogInButton button{
    background-color: whitesmoke;
    border: none;
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0s;
    display: inline-block;
    text-decoration: none;
    margin: 10 0 0 0;
    cursor: pointer;
}

div.SignUpButton a{
    color: black;
}
div.SignUpButton button{
    background-color: whitesmoke;
    border: none;
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0s;
    display: inline-block;
    text-decoration: none;
    margin: 10 0 0 0;
    cursor: pointer;
}

div.LearnMoreButton a{
    color: black;
}
div.LearnMoreButton button{
    background-color: whitesmoke;
    border: none;
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0s;
    display: inline-block;
    text-decoration: none;
    margin: 10 0 0 0;
    cursor: pointer;
}

button.button:hover {opacity: 1}

@media all and (max-width: 800px) {
    div.LastCallHeading {
        font-size: 70px;
        margin: -100px 0 0 0;    /*top left bottom right*/
    }
    div.LastCallSubHeading {
        font-size:20px;
        margin: -100px 0 0 0;    /*top left bottom right*/
    }

    div.LogInButton button{
        width:200px;
        font-size:14px
    }
    div.SignUpButton button{
        width:200px;
        font-size:14px
    }
    div.LearnMoreButton button{
        width:200px;
        font-size:14px
    }

}

@media all and (max-width: 600px) {
    div.LastCallHeading {
        font-size: 50px;
        margin: -150px 0 0 0;    /*top left bottom right*/
    }
    div.LastCallSubHeading {
        font-size:18px;
        margin: -75px 0 0 0;    /*top left bottom right*/
    }
    div.LogInButton button{
        width:120px;
        font-size:12px;
        padding: 12px 20px;
    }
    div.SignUpButton button{
        width:120px;
        font-size:12px;
        padding: 12px 20px;
    }
    div.LearnMoreButton button{
        width:120px;
        font-size:12px;
        padding: 12px 20px;
    }

}

@media all and (max-width: 400px) {
    div.LastCallHeading {
        font-size: 30px;
        margin: -50px 0 0 0;    /*top left bottom right*/
    }
    div.LastCallSubHeading {
        font-size:12px;
        margin: -50px 0 0 0;    /*top left bottom right*/
    }
    div.LogInButton button{
        width:130px;
        font-size:10px;
        padding: 10px 20px;
    }
    div.SignUpButton button{
        width:130px;
        font-size:10px;
        padding: 10px 20px;
    }
    div.LearnMoreButton button{
        width:130px;
        font-size:10px;
        padding: 10px 20px;
    }
}
