body {
    background-color:#363636;
    font-family: 'Barlow';
}
a {
    text-decoration: none;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
div.MainBanner {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div.LastCallHeading{
    color: whitesmoke;
    font-size: 60px;
    margin: 5% 0 -15% 0;    /*top left bottom right*/
}

div label{
    text-align: center;
    align-items: center;

}
div.form_container{
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 0;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div input[type=text] {
    margin-bottom: 20px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
}
div input[type=password] {
    margin-bottom: 10px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
}
input:focus {outline: none;}
div.LogInButton a{
    color: black;
}
button{
    background-color: #252525;
    border: none;
    border-radius: 50px 50px 50px 50px;
    width: 250px;
    color: whitesmoke;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
    transition: 0s;
    display: inline-block;
    text-decoration: none;
    margin: 10 0 0 0;
    cursor: pointer;
}
button:hover {opacity: 1}


@media all and (max-width: 800px) {

    div.submit_button button{
        width:200px;
        font-size:14px
    }
    div.form_container{
        width: 350px;
        height: 300px;
    }
    div input[type=text] {
        height: 40px;
        width: 200px;
    }
    div input[type=password] {
        height: 40px;
        width: 200px;
    }

}

@media all and (max-width: 600px) {
   
    div.submit_button button{
        width:200px;
        font-size:12px;
        padding: 12px 20px;
    }
    div.form_container{
        width: 300px;
        height: 320px;
    }
    div input[type=text] {
        height: 40px;
        width: 200px;
    }
    div input[type=password] {
        height: 40px;
        width: 200px;
    }

}

@media all and (max-width: 400px) {

    div.submit_button button{
        width:100px;
        font-size:10px;
        padding: 10px 20px;
    }
    div.form_container{
        width: 250px;
        height: 250px;
    }
    div input[type=text] {
        height: 40px;
        width: 160px;
    }
    div input[type=password] {
        height: 40px;
        width: 160px;
    }
}
