body {
    background-color:#363636;
    width: 100%;
    font-family: 'Barlow';
}
a{
    text-decoration: none;
}
nav.NavBar {
    background-color: whitesmoke;
    width: 105%;
    height: 5%;
    margin: -10px 0 0 -10px; /*top left bottom right*/
    font-family: 'Barlow';
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.navhome {
    left: 2%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navevents {
    left: 8%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navhevents {
    left: 14%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navstore {
    left: 20%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}
a.navlogout {
    left: 70%; 
    position: relative;
    text-decoration: none;
    color : #363636;
}


td.categoryitems > a {
    text-decoration: none;
    color: whitesmoke;
}

div.MainBanner {
    background-color: #363636;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.Welcome_Message h1{
    color: whitesmoke;
    font-size: 70px;
    text-align: center;
    margin: 0 0 -30px 0;
}
div.Welcome_Message h2{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}


div.collumns {
    background-color: #363636;
    color: whitesmoke;
    margin: 0 0 0 30px ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;


}

/*Category List Modifiers*/
div.CategoryList{
    width: 25%;
}
div.CategoryList h1{
    width: 25%;
}
div.CategoryList table {
    color: whitesmoke;
    font-size: 10px;
}
div.CategoryList th, tbody{
    text-align: left;
    color: whitesmoke;
    font-size: 20px;
}
/*Item Display Area Modifiers*/
div.ItemDisplay{
    width: 41%;
    margin: 0px 10px 0px 100px;
    align-content: center;
    align-items: center;
    text-decoration: none;
    
}
div.Cart{
    width: 33%;    
}

div.Cart_Div {
    width: 70%;
    height: 250px;
    margin: 20px 20px 20px 20px;
    border-width: 2px;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style: solid;
    color:whitesmoke;
    text-decoration: none;
    align-content: center;
    align-items: center;
    text-align:center; 
}

div.Cart_Item {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
div.Cart_Item button{

    background-color: white;
    border: none;
    border-radius: 50px 50px 50px 50px;
    width: 25px;
    height: 25px;
    color: black;
    /* padding: 16px 32px; */
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

div.Cart_Total {
    margin: 20px 20px 20px 20px;
}
div.Cart_OrderButton button {
    background-color: white;
    border: none;
    margin-top: 20px;
    border-radius: 50px 50px 50px 50px;
    width: 80px;
    height: 30px;
    color: black;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}



div.ItemDisplay table {
    color: whitesmoke;
    font-size: 20px;
    
    /* table-layout : fixed; */
}
div.ItemDisplay th, tbody {
    text-align: left;
    color: whitesmoke;
    font-size: 30px;
}
div.EventInfo h1{ 
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}
div.Item{
    height: 120px;
    width: 70%;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    border-width: 2px;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style: solid;
    color:whitesmoke;
    text-decoration: none;
}


div.ItemImage{
    align-content: center;
    color:whitesmoke;
    text-decoration: none;
}
div.ItemImage img {
    width: auto;
    height: 100%;

}

div.ItemInformation{
    flex-direction: column;
    margin: 10px 20px 20px 20px;
    text-decoration: none;
}
div.ItemTitle{
    margin: 20px 20px 20px 20px;
    color:whitesmoke;
    text-decoration: none;
}
div.ItemPrice{
    margin: 10px 20px 20px 20px;
    color:whitesmoke;
    text-decoration: none;
}



@media all and (max-width: 800px) {
    div.LastCallHeading {
        font-size: 60px;
        margin: -100px 0 0 0;    /*top left bottom right*/
    }
    

}

@media all and (max-width: 600px) {
    div.LastCallHeading {
        font-size: 40px;
        margin: -150px 0 0 0;    /*top left bottom right*/
    }
    

}

@media all and (max-width: 400px) {
    div.LastCallHeading {
        font-size: 20px;
        margin: -50px 0 0 0;    /*top left bottom right*/
    }
   
}
