<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
    <script type="text/javascript">
        function displayVars(vars) {
            userdata = vars['attendees']
            console.log(vars)
            returnData = []
            for(var i = 0;i < userdata.length;i++){  
                var invite_status = "Invited"
                if(userdata[i]['invite_status'] == 1){
                    invite_status = "Accepted"
                }
                returnData.push([userdata[i]['name'],invite_status,userdata[i]['rating'].toFixed(2),]);
            }
            return returnData
        }
        function addRow(number, name, status, rating)
        {
                 if (!document.getElementsByTagName) 
                    return;
                 tabBody=document.getElementsByTagName("tbody").item(0);
                 row=document.createElement("tr");
                 cell1 = document.createElement("td");
                 cell2 = document.createElement("td");
                 cell3 = document.createElement("td");
                 cell4 = document.createElement("td");
                 textnode1=document.createTextNode(number);
                 textnode2=document.createTextNode(name);
                 textnode3=document.createTextNode(status);
                 textnode4=document.createTextNode(rating);
                 cell1.appendChild(textnode1);
                 cell2.appendChild(textnode2);
                 cell3.appendChild(textnode3);
                 cell4.appendChild(textnode4);
                 row.appendChild(cell1);
                 row.appendChild(cell2);
                 row.appendChild(cell3);
                 row.appendChild(cell4);
                 tabBody.appendChild(row);
        }
        function populatePeople(){
            var i;
            var testInfo = displayVars( {{ people|tojson }} );
            console.log("TESTINFO", testInfo,testInfo.length);
            for(i=0; i < testInfo.length;i++){
                addRow(i+1, testInfo[i][0],testInfo[i][1],testInfo[i][2]);
            }
        }
    </script>
    <title>Last Call</title>    
    <body>
        <nav class="NavBar"> 
                <a class="navhome" href="javascript:history.go(0)">Home </a>
                <a class="navevents" href="/events/{{ uid }}">All Events </a>
                <a class="navhevents" href="/hosting/{{ uid }}">Hosting Events </a>
                <a class="navstore" href="/store/{{ uid }}">Store </a>
                <a class="navlogout" href="/logout">Logout </a>
        </nav>

        <div class='MainBanner'>
            <div class="Welcome_Message">
                <h1>Welcome, {{ name }} ({{ rating }})</h1>
            </div>
            <div class="collumns">
                <div class="InviteList">
                    <table style="width:100%">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Invite Status</th> 
                        <th>Rating</th>
                    </tr>
                    <tbody>
                            <script>
                            populatePeople();
                            </script>
                    </tbody>
                    </table>
                </div>
                <div class="EventInfo">
                    <!-- <h1>EVENT INFO</h1> -->
                    <div class="EventDate">
                        <h1>{{ edate }}</h1>
                    </div>
                    <div class="EventTitle">
                        <h1>{{ etitle }}</h1>
                    </div>
                    <div class="EventHost">
                        <h1>{{ ehost }}</h1>
                    </div>
                    <div class="EventDesc">
                        <h1>{{ edesc }}</h1>
                    </div>
                    <div class="EventLocation">
                        <h1>{{ eaddress }}</h1>
                    </div>
                </div>
                <div class="CreateAnEvent">
                        <button class="CreateEventButton" ><a href="/createAnEvent/{{uid}}"> + <br/>Create An Event</a>
                        </button>
                </div>
            </div>
        </div>      
    </body>
</html> 