<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='events.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
    <script type="text/javascript">
        function displayVars(vars) {
            userdata = vars['events']
            returnData = []
            for(var i = 0;i < userdata.length;i++){  
                returnData.push( [ userdata[i]['event_name'],userdata[i]['date'] ] );
            }
            return returnData
        }     
        function addRow(number, eventname, date)
        {
                 if (!document.getElementsByTagName) 
                    return;
                tabBody=document.getElementsByTagName("tbody").item(0);
                rowwrapper=document.createElement("a")
                row=document.createElement("tr");
                cell1 = document.createElement("td");
                cell2 = document.createElement("td");
                cell3 = document.createElement("td");
                
                cell1href = document.createElement("a")
                cell2href = document.createElement("a")
                cell3href = document.createElement("a")

                textnode1=document.createTextNode(number);
                textnode2=document.createTextNode(eventname);
                textnode3=document.createTextNode(date);
                textnode1href=document.createTextNode(number);
                textnode2href=document.createTextNode(eventname);
                textnode3href=document.createTextNode(date);

                cell1.appendChild(cell1href)
                cell1href.setAttribute("href", "/events/{{uid}}/"+eventname); 
                cell1href.appendChild(textnode1href)
                cell2.appendChild(cell2href)
                cell2href.setAttribute("href", "/events/{{uid}}/"+eventname); 
                cell2href.appendChild(textnode2href)
                cell3.appendChild(cell3href)
                cell3href.setAttribute("href", "/events/{{uid}}/"+eventname); 
                cell3href.appendChild(textnode3href)
                row.appendChild(cell1);
                row.appendChild(cell2);
                row.appendChild(cell3);
                //row.appendChild(rowwrapper)
                console.log(row)
                tabBody.appendChild(row);
        }
        function populatePeople(){
            var i;
            var testInfo = displayVars( {{ eventlist|tojson }} );
            for(i=0; i < testInfo.length;i++){
                addRow(i+1, testInfo[i][0],testInfo[i][1]);
            }
        }
    </script>
    <title>Last Call</title>    
    <body>
        <nav class="NavBar"> 
                <a class="navhome" href="/login">Home </a>
                <a class="navevents" href="javascript:history.go(0)">All Events </a>
                <a class="navhevents" href="/hosting/{{ uid }}">Hosting Events </a>
                <a class="navstore" href="/store/{{uid}}">Store </a>
                <a class="navlogout" href="/logout">Logout </a>
        </nav>
        <div class='MainWrapper'>
                <div class="collumns">
                    <div class="EventList">
                        <h1>ALL EVENTS</h1>
                        <table style="width:100%">
                        <tr>
                            <th>#</th>
                            <th>Event Name</th>
                            <th>Date</th>
                        </tr>
                        <tbody>
                            <script>
                            populatePeople();
                            </script>
                        </tbody>
                        </table>
                    </div>
                <div class="EventInfo">
                        <h1>EVENT INFO</h1>
                        <div class="EventDate">
                            <h1>{{ edate }}</h1>
                        </div>
                        <div class="EventTitle">
                            <h1>{{ etitle }}</h1>
                        </div>
                        <div class="EventHost">
                            <h1>{{ ehost }}</h1>
                        </div>
                        <div class="EventDesc">
                            <h1>{{ edesc }}</h1>
                        </div>
                        <div class="EventLocation">
                            <h1>{{ eaddress }}</h1>
                        </div>
                </div>
        </div>      
    </body>
</html> 