<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
    <title>Last Call</title>    
    <body>
        <div class='MainBanner'>
            <div class="LastCallHeading">
                    <h1>Last Call</h1> 
            </div>
            <div class="LastCallSubHeading">
                    <p>Let's Make Event Planning Fun Again</p>
            </div>
            <div class="LogInButton">
                    <button class="button"><a href="login"/>Log In</button>
            </div>
            <div class="SignUpButton">
                    <button class="button"><a href="signup"/>Sign Up!</button>
            </div>
            <div class="LearnMoreButton">
                    <button class="button"><a href="about"/>Learn more!</button>
            </div>  
        </div>      
    </body>
</html> 