<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hosting.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
    <script type="text/javascript">

        function displayVars(vars) {
            userdata = vars['events']
            returnData = []
            for(var i = 0;i < userdata.length;i++){  
                returnData.push( [ userdata[i]['event_name'],userdata[i]['date'] ] );
            }

            return returnData
        }     
        function addRow(number, eventname, date)
        {
                 if (!document.getElementsByTagName) 
                    return;
                tabBody=document.getElementsByTagName("tbody").item(0);
                rowwrapper=document.createElement("a")
                row=document.createElement("tr");
                cell1 = document.createElement("td");
                cell2 = document.createElement("td");
                cell3 = document.createElement("td");
                cell4 = document.createElement("button");
                cell5 = document.createElement("button");
                cell6 = document.createElement("button");
                

                cell1href = document.createElement("a")
                cell2href = document.createElement("a")
                cell3href = document.createElement("a")
                cell4href = document.createElement("a")
                cell5href = document.createElement("a")
                cell6href = document.createElement("a")

                textnode1=document.createTextNode(number);
                textnode2=document.createTextNode(eventname);
                textnode3=document.createTextNode(date);
                textnode4=document.createTextNode("X");
                textnode5=document.createTextNode("Edit");
                textnode6=document.createTextNode("Invite");

                textnode1href=document.createTextNode(number);
                textnode2href=document.createTextNode(eventname);
                textnode3href=document.createTextNode(date);
                textnode4href=document.createTextNode("X");
                textnode5href=document.createTextNode("Edit");
                textnode6href=document.createTextNode("Invite");

                cell1.appendChild(cell1href)
                cell1href.setAttribute("href", "/hosting/{{uid}}/"+eventname); 
                cell1href.appendChild(textnode1href)
                cell2.appendChild(cell2href)
                cell2href.setAttribute("href", "/hosting/{{uid}}/"+eventname); 
                cell2href.appendChild(textnode2href)
                cell3.appendChild(cell3href)
                cell3href.setAttribute("href", "/hosting/{{uid}}/"+eventname); 
                cell3href.appendChild(textnode3href)
                cell4.appendChild(cell4href)
                cell4href.setAttribute("href", "/delete/{{uid}}/"+eventname); 
                cell4href.appendChild(textnode4href)
                cell5.appendChild(cell5href)
                cell5href.setAttribute("href", "/updateAnEvent/{{uid}}/"+eventname); 
                cell5href.appendChild(textnode5href)
                cell6.appendChild(cell6href)
                cell6href.setAttribute("href", "/inviteUser/{{uid}}/"+eventname); 
                cell6href.appendChild(textnode6href)
                
                
                
                row.appendChild(cell1);
                row.appendChild(cell2);
                row.appendChild(cell3);
                row.appendChild(cell6);
                row.appendChild(cell5);
                row.appendChild(cell4);
                cell4.addEventListener("click", function (event) {
                        var ret = alert("Event Deleted!");
                }
                );

                tabBody.appendChild(row);
        }
        function populatePeople(){
            var i;
            var testInfo = displayVars( {{ eventlist|tojson }} );
            for(i=0; i < testInfo.length;i++){
                addRow(i+1, testInfo[i][0],testInfo[i][1]);
            }
        }
    </script>
    <title>Last Call</title>    
    <body>
        <nav class="NavBar"> 
                <a class="navhome" href="/login">Home </a>
                <a class="navevents" href="/events/{{uid}}">All Events </a>
                <a class="navhevents" href="javascript:history.go(0)">Hosting Events </a>
                <a class="navstore" href="/store/{{uid}}">Store </a>
                <a class="navlogout" href="/logout">Logout </a>
        </nav>
        <div class='MainWrapper'>
                <div class="collumns">
                    <div class="EventList">
                        <h1>ALL EVENTS</h1>
                        <table style="width:100%">
                        <tr>
                            <th>#</th>
                            <th>Event Name</th>
                            <th>Date</th>
                        </tr>
                        <tbody>
                            <script>
                            populatePeople();
                            </script>
                        </tbody>
                        </table>
                    </div>
                <div class="EventInfo">
                        <h1>EVENT INFO</h1>
                        <div class="EventDate">
                            <h1>{{ edate }}</h1>
                        </div>
                        <div class="EventTitle">
                            <h1>{{ etitle }}</h1>
                        </div>
                        <div class="EventHost">
                            <h1>{{ ehost }}</h1>
                        </div>
                        <div class="EventDesc">
                            <h1>{{ edesc }}</h1>
                        </div>
                        <div class="EventLocation">
                            <h1>{{ eaddress }}</h1>
                        </div>
                </div>
        </div>      
    </body>
</html> 