<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

    <title>Last Call</title>    
    <body>
        <div class="MainBanner">
            <div class="Log In">
                <form action="/inviteUser/{{uid}}/{{ ename }}" method="post">
                    <div class="form_container">
                        <div class="name_field">
                            <label for="email">Enter Person's Email to Invite:<br/></label>
                            <input type="text" id="email" name="invitee_email" required>
                        </div>
                        <div class="submit_button">
                            <button class="submit_button">Submit</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        

    </body>
</html> 