<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

    <title>Last Call</title>    
    <body>
        <div class="MainBanner">
            <div class="LastCallHeading">
                    <h1>Last Call</h1> 
            </div>
            <div class="Log In">
                <form action="{{ url_for('SignUp') }}" method="post">
                    <div class="form_container">
                        <div class="Name_field">
                            <label for="email">Name:<br/></label>
                            <input type="text" id="name" name="user_name" required>
                        </div>
                        <div class="phone_field">
                                <label for="email">Phone Number:<br/></label>
                                <input type="text" id="phone" name="user_phone" required>
                        </div>
                        <div class="email_field">
                            <label for="email">Email:<br/></label>
                            <input type="text" id="email" name="user_email" required>
                        </div>
                        <div class="pass_field">
                            <label for="name">Password:<br/></label>
                            <input type="password" id="password" name="user_password" required>
                        </div>
                        <div class="submit_button">
                            <button class="submit_button">Submit</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        

    </body>
</html> 