<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='store.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
    <script type="text/javascript">
        function displayVars(vars) {
            console.log(vars['bundles'])
            var allbundles = vars['bundles']
            var totalPrice = 0.0
            for(var i = 0; i < allbundles.length;++i){
                addItems(allbundles[i]['bundle_name'],allbundles[i]['bundle_price']);
            }

        } 
        function cartData(vars) {
            var cartItems = vars['cart']
            var totalPrice = 0.0

            for(var i = 0; i < cartItems.length;++i){
                totalPrice = totalPrice + parseFloat(cartItems[i]['bundle_price'])
                addtoCart(cartItems[i]['bundle_name'],cartItems[i]['bundle_price']);
            }

        } 

        function addItems(itemName, price){
            var topdiv = document.createElement('a');
            var div = document.createElement('div');
            div.className = "Item"
            var imagebox = document.createElement('div');
            imagebox.className = "itemImage"
            var image = document.createElement('img');
            image.src = " {{ url_for( 'static', filename='smirnoff.jpeg') }} "
            image.alt = "smirnoff"
            imagebox.appendChild(image);

            var information = document.createElement('div');
            var title = document.createElement('div');
            var itemPrice = document.createElement('div');
            information.className = "itemInformation";
            title.className = "itemTitle";
            itemPrice.className = "ItemPrice";

            title.innerHTML = itemName;
            itemPrice.innerHTML = "$"+ price;
            topdiv.href = "/store/{{ uid }}/add/"+itemName;
            information.appendChild(title);
            information.appendChild(itemPrice);
            

            div.appendChild(imagebox);
            div.appendChild(information);
            
            topdiv.appendChild(div);
            document.getElementsByClassName("ItemDisplay")[0].appendChild(topdiv);

        }
        function addtoCart(itemName, price){
            var div = document.createElement('div');
            var delButton = document.createElement('button');

            div.className = "Cart_Item"
            div.innerHTML = itemName + " - $" + price
            // delButton.innerHTML = "X"
            // delButton.className = "Delete_Cart"
            // delButton.href = "/"
            // div.appendChild(delButton)
            document.getElementsByClassName("Cart_Div")[0].appendChild(div);

        }
    
    
    </script>
    <title>Last Call</title>
    <body>
        <nav class="NavBar">
                <a class="navhome" href="/login">Home </a>
                <a class="navevents" href="/events/{{ uid }}">All Events </a>
                <a class="navhevents" href="/hosting/{{ uid }}">Hosting Events </a>
                <a class="navstore" href="javascript:history.go(0)">Store </a>
                <a class="navlogout" href="/logout">Logout </a>
        </nav>

        <div class='MainBanner'>
            <div class="Welcome_Message">
                <h1>Store</h1>
                <h2>You can't forget the best part of a party can you?</h2>
            </div>
            <div class="collumns">
                <div class="CategoryList">
                        <h1>Categories</h1>
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td class="categoryitems"><a href="/store/{{uid}}">All</a></td>
                                </tr>

                                <tr>
                                    <td class="categoryitems" ><a href="/store/{{uid}}/A_Bundles">Alcoholic Bundles</a></td>
                                </tr>
                                <tr>
                                    <td class="categoryitems" ><a href="/store/{{uid}}/Non_A_Bundles">Non-Alcoholic Drinks</a></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="ItemDisplay">
                    <h1>Items</h1>
                        <script>displayVars({{ bundleData|tojson }});</script>
                </div>
                <div class="Cart">
                        <h1>Cart</h1>
                        <div class="Cart_Div">
                                <script>cartData({{ bundleData|tojson }});</script>
                            <div class="total">
                            </div>
                            <div class="Cart_OrderButton">
                                <button class="order" href="/login">Checkout</button>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
