<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createanevent.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>

    <title>Last Call</title>    
    <body>
        <nav class="NavBar"> 
                <a class="navhome" href="/login">Home </a>
                <a class="navevents" href="/events/{{ uid }}">All Events </a>
                <a class="navhevents" href="/hosting/{{ uid }}">Hosting Events </a>
                <a class="navstore" href="/store/{{ uid }}">Store </a>
                <a class="navlogout" href="/logout">Logout </a>
        </nav>
        <div class="MainBanner">
            <div class="Create_Event">
                <form action="{{ url_for('updateAnEvent', uid="{{uid}}",eventName="{{ename}}") }}" method="post">
                    <div class="form_container">
                        <div class="Event_Name_field">
                            <label for="name">Event Name:<br/></label>
                            <input type="text" id="name" name="event_name" value="{{ ename }}" required> 
                        </div>
                        <div class="date_field">
                            <label for="date">Date (MM/DD/YYYY):<br/></label>
                            <input type="text" id="date" name="event_date" value="{{ edate }}" required>
                        </div>
                        <div class="time_field">
                                <label for="time">Time:<br/></label>
                                <input type="text" id="time" name="event_time" value="{{ etime }}" required>
                        </div>
                        <div class="address_field">
                            <label for="address">Street Address:<br/></label>
                            <input type="text" id="address" name="event_address" value="{{ eaddress }}" required>
                        </div>
                        <div class="city_and_state">
                            <div class="city_field">
                                <label for="city">City:<br/></label>
                                <input type="text" id="city" name="event_city" value="{{ ecity }}"  required>
                            </div>
                            <div class="state_field">
                                <label for="state">State:<br/></label>
                                <input type="text" id="state" name="event_state" value="{{ estate }}"  required>
                            </div>
                        </div>
                        <div class="zip_field">
                            <label for="zip">Zip Code:<br/></label>
                            <input type="text" id="zip" name="event_zip" value="{{ ezip }}" required>
                        </div>
                        <div class="description_field">
                            <label for="description_field">Description:<br/></label>
                            <input type="text" id="description" name="event_description" value="{{ edesc }}" required>
                        </div>
                        <div class="privacy_checkbox">
                            <input type="checkbox" name="private" value="event_privacy"> Is this event private?</br>
                        </div>
                        <div class="submit_button">
                            <button class="submit_button">Submit</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        

    </body>
</html> 